.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.position-right {
  position: absolute;
  right: 0;
}

.mr-normal {
  margin-right: 1em;
}

.position-relative {
  position: relative;
}
