view {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
page {
  background-color: #fff;
  height: 100%;
  font-size: 14upx;
  line-height: 1.5;
}
image {
  width: 100%;
  height: 100%;
  display: block;
}
.touchui-hover {
  background-color: #eee !important;
}
button {
  font-size: 14upx;
  overflow: hidden;
  color: #1f2d3d;
  margin: 6px 0;
}
button[type="primary"] {
  background-color: #4D926F;
}
button[type="primary"][loading] {
  background-color: #4D926F;
}
button[type="primary"].button-hover {
  color: #fff;
  background-color: #315d46;
  opacity: 0.8;
}
button[type="primary"][plain] {
  border-color: #4D926F;
  color: #4D926F;
}
button[type="primary"][plain].button-hover {
  color: #4D926F;
  border-color: #4D926F;
  opacity: 0.8;
}
button[type="primary"][size="mini"].button-hover {
  border-color: #4D926F !important;
}
button[type="primary"][disabled] {
  background-color: #79b898;
}
button[type="primary"][size="mini"] {
  border-color: #4D926F !important;
}
button[type="primary"][size="mini"].button-hover {
  border-color: #4D926F !important;
}
button[type="success"] {
  background-color: #13ce66;
}
button[type="success"].button-hover {
  color: #fff;
  background-color: #10a954;
  opacity: 0.8;
}
button[type="success"][plain] {
  border-color: #13ce66;
  color: #13ce66;
}

/**公共组件颜色值**/

.c-tred {color: #F81F5E;}
.c-bgred {background-color: #F81F5E;}

.c-tblack {color: #000000}
.c-bgblack {background-color: #000000}

.c-twhite {color: white}
.c-bgwhite {background-color: white;}

.c-twhite2 {color: #F9F9FB}
.c-bgwhite2 {background-color: #F9F9FB;}

.c-tgray {color: #CDCDCD}
.c-bggray {background-color: #CDCDCD;}

.c-tblue {color: #6267F9}
.c-bgblue {background-color: #6267F9;}

.c-tgreen {color: #09D6A1}
.c-bggreen {background-color: #09D6A1;}

.c-tyellow {color: #FFB400}
.c-bgyellow {background-color: #FFB400;}

.c-tblack2 {color: #333333}
.c-bgblack2 {background-color: #333333;}

.c-tblack3 {color: #666666}
.c-bgblack3 {background-color: #666666;}

.c-tblack3a {color: #3A3A3A;}
.c-bgblack3a {background-color: #3A3A3A;}

button::after, button::before {
  border: 0;
}
.c-btn {
	position:relative;
	display:inline-flex;
	align-items:center;
	justify-content:center;
	box-sizing:border-box;
	padding:0 30rpx;
	font-size:28rpx;
	height:64rpx;
	line-height:1;
	text-align:center;
	text-decoration:none;
	transform:translate(0rpx, 0rpx);
	margin: 0;
}
.c-btn:not([class*="bg-"]) {
	background-color:#f0f0f0;
}

.c-btn.button-hover {
	transform:translate(1rpx, 1rpx);
}

.round {
	border-radius: 1000rpx;
}

.c-btn .icon {
	width:64rpx;
	height:64rpx;
	border-radius:500rpx;
	padding:0;
}
.c-btn[disabled] {
 opacity:0.6;
 color:#fff;
}

.c-btn.sm {
	padding:0 20rpx;
	font-size:20rpx;
	height:48rpx;
}

.c-btn.normal {
	padding: 14rpx 20rpx;
	border-radius: 1000rpx;
}
.c-btn.lg {
   padding:0 40rpx;
   font-size:32rpx;
   height:88rpx;
}

.bg-red {
	background-color:#e54d42;
	color:#fff;
}

.bg-red2 {
	background-color:#f81f5e;
	color:#fff;
}

.text-red, .line-red, .lines-red {
	color:#e54d42;
}
.shadow[class*="-red"] {
	box-shadow:6rpx 6rpx 8rpx rgba(204, 69, 59, 0.2);
}
.c-btn[class*="line"] {
	background-color:transparent;
}


.text-red, .line-red, .lines-red {
  color: #e54d42;
}

.text-orange, .line-orange, .lines-orange {
  color: #f37b1d;
}

.text-yellow, .line-yellow, .lines-yellow {
  color: #fbbd08;
}

.text-olive, .line-olive, .lines-olive {
  color: #8dc63f;
}

.text-green, .line-green, .lines-green {
  color: #39b54a;
}

.text-cyan, .line-cyan, .lines-cyan {
  color: #1cbbb4;
}

.text-blue, .line-blue, .lines-blue {
  color: #0081ff;
}

.text-purple, .line-purple, .lines-purple {
  color: #6739b6;
}

.text-mauve, .line-mauve, .lines-mauve {
  color: #9c26b0;
}

.text-pink, .line-pink, .lines-pink {
  color: #e03997;
}

.text-brown, .line-brown, .lines-brown {
  color: #a5673f;
}

.text-grey, .line-grey, .lines-grey {
  color: #8799a3;
}

.text-gray, .line-gray, .lines-gray {
  color: #aaa;
}

.text-black, .line-black, .lines-black {
  color: #333;
}

.text-white, .line-white, .lines-white {
  color: #fff;
}


.flex-c {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-b {
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.flex-v-s {
	display: flex;
	justify-content: center;
	align-items: flex-start;		
}

.flex-v-b {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;		
}

.flex-x-r {
	display: flex;
	justify-content: flex-end;
	align-items: center;	
}

.flex-x-l {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.buttonreset {
	position: relative;
	display: box;
	background-color: transparent;
	padding: 0;
	margin: 0;
	border: 0;
	padding-left: 0;
	padding-right: 0;
	border-radius: 0;
	font-size: 0rpx;
	color: transparent;
	outline: 0;
	/*margin-right: 10rpx;*/
}

.sharepopbtn{
	font-size: 30rpx;
	height: 100rpx;
	line-height: 100rpx;
	color: #888282;
	text-align: center;
	border-bottom: 1rpx solid #f0f0f0;
}